*********************************************
*                                           *
* DRILL TAPE SUMMARY REPORT                 *
*                                           *
* C:\MICREL\MICRF113\TX113-1C\TX113-1C.MAX  *
* Thu Sep 20 14:24:38 2007                  *
*                                           *
*********************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       15       14       200      100                                                                                 
T2       31       2        200      100                                                                                 
T3       42       5        200      100                                                                                 
